<nz-card nzTitle="数据导入管理" [nzBordered]="false">
  <nz-card-tab>
    <nz-tabset [(nzSelectedIndex)]="tabIndex">
      <nz-tab nzTitle="导入信息"></nz-tab>
      <nz-tab nzTitle="导入任务"></nz-tab>
    </nz-tabset>
  </nz-card-tab>

  <div *ngIf="tabIndex===0">
    <div nz-row>
      <!--    <div nz-col nzSpan="6" style="width: 180px;padding-bottom: 20px">-->
      <nz-select nz-col nzSpan="6" nzShowSearch nzAllowClear nzPlaceHolder="请选择系统类型" [(ngModel)]="selectedValue"
                 (ngModelChange)="changeSelectValue(selectedValue)">
        <nz-option nzLabel="所有系统" nzValue=0></nz-option>
        <nz-option nzLabel="OFCR|核心系统" nzValue=1></nz-option>
        <nz-option nzLabel="ATMP|ATM系统" nzValue=2></nz-option>
        <nz-option nzLabel="LOAN|信贷系统" nzValue=3></nz-option>
        <nz-option nzLabel="CETS|支付系统" nzValue=4></nz-option>
      </nz-select>
      <!--    </div>-->
      <div nz-col nzSpan="6" nzOffset="4">
        <label>
          <input nz-input placeholder="搜索数据" [(ngModel)]="inputSearchValue"
                 (ngModelChange)="changeInputValue(inputSearchValue)"/>
        </label>
      </div>
    </div>
    <nz-table #schData nzSize="middle" [nzData]="this.table.itemsFiltered" [nzPageSizeOptions]=[10,20,100]
              [nzShowSizeChanger]="true">
      <thead>
      <tr>
        <th>表名称</th>
        <th>表描述</th>
        <th>导入时间</th>
        <th>数据日期</th>
        <th>数据类型</th>
        <th>匹配文件</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let sch of schData.data; let i = index" (dblclick)="openNewDialog()">
        <td>{{sch.tblName}}</td>
        <td>--</td>
        <td>{{sch.lastImportDate| date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{sch.fileDate}}</td>
        <td>{{sch.fileType| fileType}}</td>
        <td>{{sch.filenameRule}}</td>
      </tr>
      </tbody>

    </nz-table>
  </div>

  <div *ngIf="tabIndex===1">
    <div nz-row>
      <nz-select nz-col nzSpan="4" nzShowSearch nzAllowClear nzPlaceHolder="请选择导入任务" [(ngModel)]="taskSelectedValue"
                 (ngModelChange)="changeSelectValue(taskSelectedValue)">
        <nz-option nzLabel="智能收单数据" nzValue=0></nz-option>
      </nz-select>
      <nz-date-picker
        nz-col nzSpan="4"
        [(ngModel)]="dateValue"
        (ngModelChange)="onChange($event)"
        style="margin-left: 12px;"
      >
      </nz-date-picker>
      <button nz-button nzType="primary" style="margin-left: 12px;" [disabled]="true">手工导入</button>
    </div>

    <nz-table #schData nzSize="middle" [nzData]="this.table.itemsFiltered" [nzPageSizeOptions]=[10,20,100]
              [nzShowSizeChanger]="true">
      <thead>
      <tr>
        <th
          [nzShowCheckbox]="true"
          [nzChecked]="checked"
          [nzIndeterminate]="indeterminate"
          (nzCheckedChange)="onAllChecked($event)"
        ></th>
        <th>任务ID</th>
        <th>任务描述</th>
        <th>是否自动导入</th>
        <th>是否启用</th>
        <th>上次导入日期</th>
        <th>操作员</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of schData.data; let i = index" (dblclick)="openNewDialog()">
        <td
          [nzShowCheckbox]="true"
          [nzChecked]="setOfCheckedId.has(data.tblName)"
          (nzCheckedChange)="onItemChecked(data.tblName, $event)"></td>
        <td>{{data.tblName}}</td>
        <td>--</td>
        <td>{{data.lastImportDate| date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{data.fileDate}}</td>
        <td>{{data.fileType| fileType}}</td>
        <td>{{data.filenameRule}}</td>
      </tr>
      </tbody>

    </nz-table>

  </div>
</nz-card>

