<nz-card nzTitle="数据导入管理" [nzBordered]="false">
  <div nz-row>
    <!--    <div nz-col nzSpan="6" style="width: 180px;padding-bottom: 20px">-->
    <nz-select nz-col nzSpan="6" nzShowSearch nzAllowClear nzPlaceHolder="导入任务名称" >
      <nz-option nzLabel="所有系统" nzValue=0></nz-option>
      <nz-option nzLabel="OFCR|核心系统" nzValue=1></nz-option>
      <nz-option nzLabel="ATMP|ATM系统" nzValue=2></nz-option>
      <nz-option nzLabel="LOAN|信贷系统" nzValue=3></nz-option>
      <nz-option nzLabel="CETS|支付系统" nzValue=4></nz-option>
    </nz-select>
    <!--    </div>-->
    <div nz-col nzSpan="6" nzOffset="4">
      <label>
        <input nz-input placeholder="搜索数据" />
      </label>
    </div>
  </div>
</nz-card>

