<nz-card nzTitle="数据导入管理" [nzBordered]="false">
  <nz-card-tab>
    <nz-tabset [(nzSelectedIndex)]="tabIndex">
      <nz-tab nzTitle="导入信息"></nz-tab>
      <nz-tab nzTitle="导入任务"></nz-tab>
    </nz-tabset>
  </nz-card-tab>

  <div *ngIf="tabIndex===0">

    <nz-table #schData nzSize="middle" [nzData]="this.table.itemsFiltered" [nzPageSizeOptions]=[10,20,100]
              [nzShowSizeChanger]="true">
      <thead>
      <tr>
        <th>表名称</th>
        <th>表描述</th>
        <th>导入时间</th>
        <th>数据日期</th>
        <th>数据类型</th>
        <th>匹配文件</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let sch of schData.data; let i = index" (dblclick)="openNewDialog()">
        <td>{{sch.tblName}}</td>
        <td>--</td>
        <td>{{sch.lastImportDate| date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{sch.fileDate}}</td>
        <td>{{sch.fileType| fileType}}</td>
        <td>{{sch.filenameRule}}</td>
      </tr>
      </tbody>

    </nz-table>
  </div>




  <div *ngIf="tabIndex===1">
    <nz-table #taskData nzSize="middle" [nzData]="listOfDcImpTask" [nzPageSize]="10">
      <thead>
        <tr>
          <th></th>
          <th>任务ID</th>
          <th>任务名称</th>
          <th>是否自动导入</th>
          <th>是否启用</th>
          <th>更新频率</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="taskData.data">
          <tr>
            <td nzShowExpand [(nzExpand)]="data.expand"></td>
            <td>{{data.schNo}}</td>
            <td>{{data.schName}}</td>
            <td>{{data.isAutoUpdate}}</td>
            <td>{{data.isActive}}</td>
            <td>{{data.freq}}</td>
          </tr>
          <tr [nzExpand]="data.expand">
            <td colspan="6" style="padding: 16px">
                <nz-table #innerTable nzSize="middle" [nzData]="listOfDcImpSch" [nzShowPagination]="false">
                  <thead>
                    <tr>
                      <th
                        [nzShowCheckbox]="true"
                        [nzChecked]="checked"
                        [nzIndeterminate]="indeterminate"
                        (nzCheckedChange)="onAllChecked($event)"
                      ></th>
                      <th>表名称</th>
                      <th>对应文件</th>
                      <th>是否自动导入</th>
                      <th>是否启用</th>
                      <th>上次导入日期</th>
                      <th>操作员</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of innerTable.data">
                      <td
                        [nzShowCheckbox]="true"
                        [nzChecked]="setOfCheckedId.has(data.tblName)"
                        (nzCheckedChange)="onItemChecked(data.tblName, $event)"></td>
                      <td>{{data.tblName}}</td>
                      <td>{{data.filenameRule}}</td>
                      <td>{{data.lastImportDate| date:'yyyy-MM-dd HH:mm:ss'}}</td>
                      <td>{{data.fileDate}}</td>
                      <td>{{data.fileType| fileType}}</td>
                      <td>{{data.filenameRule}}</td>
                    </tr>
                  </tbody>
                </nz-table>
            </td>
          </tr>
         </ng-template>
      </tbody>
    </nz-table>

    <div nz-row>
      <nz-select nz-col nzSpan="4" nzShowSearch nzAllowClear nzPlaceHolder="请选择导入任务" [(ngModel)]="taskSelectedValue"
                 (ngModelChange)="changeSelectValue(taskSelectedValue)">
        <nz-option nzLabel="智能收单数据" nzValue=0></nz-option>
      </nz-select>
      <nz-date-picker
        nz-col nzSpan="4"
        [(ngModel)]="dateValue"
        (ngModelChange)="onChange($event)"
        style="margin-left: 12px;"
      >
      </nz-date-picker>
      <button nz-button nzType="primary" style="margin-left: 12px;" [disabled]="true">手工导入</button>
    </div>
<!--

    <nz-descriptions nzTitle="智能收单数据" style="margin: 12px;">
      <nz-descriptions-item nzTitle="任务ID">1</nz-descriptions-item>
      <nz-descriptions-item nzTitle="是否自动更新">是</nz-descriptions-item>
      <nz-descriptions-item nzTitle="是否启用">是</nz-descriptions-item>
      <nz-descriptions-item nzTitle="更新频率">日</nz-descriptions-item>
      <nz-descriptions-item nzTitle="上次更新日期">2020-05-30</nz-descriptions-item>
      <nz-descriptions-item nzTitle="操作人员">System</nz-descriptions-item>
    </nz-descriptions>
-->



  </div>
</nz-card>


